* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.sp-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.sp {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth; /* Ensure smooth scrolling */
    white-space: nowrap;
}

.pz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #615252;
    border: 1px solid white;
    flex-shrink: 0; /* Prevent items from shrinking */
}
