:root{
    --primary-color-dark: #000814;
    --secondary-color-dark: #001d3d;
    --seondary-color-dark2: #003566;
    --primary-color-light: #ffc300;
    --secondary-color-light: #ffd60a;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#appContainer1{
    background-color: var(--primary-color-dark);
    width: 100%;
    height: 100%;
    
}

.part{
    width: 100%;
    height: 100vh;
    color: white;
}


.section{
    width: 100%;
    height: 100%;
}