@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik+Glitch+Pop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color-dark: #000814;
    --secondary-color-dark: #001d3d;
    --secondary-color-dark2: #003566;
    --primary-color-light: #ffc300;
    --secondary-color-light: #ffd60a;
    --primary-black: #28282B;


}


body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#appContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

#appNav {
    width: 80px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    position: fixed;
    left: 0;
    top: calc(50% - 250px);
    z-index: 100;
}

#appNav div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotateZ(180deg);
}

#appNav div:hover {
    scale: 1.5;
    cursor: pointer;
}

#appContent {
    width: calc(100vw - 50px);
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.part {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    /* padding: 1rem; */
    position: relative;
}

.sticky-tag {
    width: fit-content;
    height: 100px;
    opacity: 0.2;
    position: sticky;
    top: 0;
    font-size: 4rem;
    
}


/* Optional: Styling for nav links */
.nav-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#education{
    background-color: #444444;
}

