#projectsContainer {
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#projectsHeader {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: baseline;
  font-size: 4rem;
  color: #fff;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
  position: relative;
}

#projectsHeader.scrolled {
  height: 60px /* Adjust height for the shrunk header */
}

#headerImg {
  width: 200px;
  height: 200px;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

#projectsHeader h1.scrolled {
  font-size: 1.5rem; /* Adjust font size for the shrunk header */
}

#headerImg.scrolled {
  height: 40px;
  width: 40px; /* Adjust height for the shrunk header */
}


#projectsHeader h1 {
  transition: all 0.3s ease;
}


#projectScreen {
  width: 100%;
  height: 30%;
  overflow: hidden;
}

#projectsBody {
  width: 100%;
  height: 40%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
  overflow-x: hidden;
}

#projectsBody.scrolled {
  height: calc(70% - 100px);
}

.category {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.horizontal-scroll {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.projectCard {
  min-width: 200px;
  min-height: 200px;
  background-color: #1f1f1f;
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.projectImgCard {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.projectDetail {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projectDetail .projectImg {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.projectDetail .projectText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: #fff;
}

.projectDetail .projectText button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.projectDetail .projectText button a {
  color: inherit;
  text-decoration: none;
}

.textCard h2{
  font-size: 1rem;
  color: #fff;
}
