*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#homeContainer{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    position: relative;
}

#homeImage img{
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#homeContent{
    width: 100%;
    height: 100%;
}
