#journeyContainer {
    position: relative;
    overflow-y: scroll;
    height: fit-content;
    padding-left: 100px;
    /* background: #ffffff; */
    font-family: Arial, sans-serif;
}

#yearSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#yearSlider div {
    margin: 10px 0;
}

#monthIndicator {
    position: fixed;
    top: 80px;
    left: 100px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
}

.thing {
    margin: 50px 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thing-title span {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}

.thing-content {
    margin-top: 10px;
}

.thing-content span {
    display: block;
    color: #666;
    margin-bottom: 10px;
}

.thing-content p, .thing-content ul {
    margin: 10px 0;
    line-height: 1.5;
}

.thing-content ul {
    padding-left: 20px;
}

.thing-content ul li {
    list-style-type: disc;
}
