#skillContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}


.skillRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
}

.skillBox{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--primary-color-light);
    border-radius: 1rem;
    margin: 1rem;
}


.skillIcon{
    font-size: 3rem;
}

.skillText h3{
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}